<div class="container">
    <form>
        <div class="form-group">
            <label for ="movies">Select Movie Timings</label>
            <select class="form-control" id="movies">
                <option value="9:30AM">9:30AM</option>
                <option value="12:00PM">12:00PM</option>
                <option value="2:15PM">2:15PM</option>
                <option value="6:00PM">6:00PM</option>
                <option value="9:00PM">9:00PM</option>
                </select>
            </div>
        </form>
    </div>