<div class="container">
    <div class="row">
         <h2>New Movies + Coming Soon</h2>
         <div class="col-xs-12 brder">
             <ul class="listType">
                 <li><img src="https://images.fandango.com/r1.0.23/ImageRenderer/131/200/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/193099/beautyandthebeast2d-postera.jpg"/>
                 <p>BEAUTY AND THE BEAST (2017)</p></li>

                 <li><img src="https://images.fandango.com/r1.0.23/ImageRenderer/131/200/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/159277/stlv_digi_1sht_in3d_lk2_02.jpg"/>
                  <p>Smurfs: The Lost Village</p></li>
                  <li><img src="https://images.fandango.com/r1.0.23/ImageRenderer/131/200/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/183504/ff8_adv1sheet_rgb_2.jpg"/>
                  <p>The Fate of the Furious</p></li>
                 <li><img src="https://images.fandango.com/r1.0.23/ImageRenderer/131/200/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/190573/gotg2_payoff_1_sheet_online.jpg"/>
                 <p>Guardians of the Galaxy Vol. 2</p></li>
                 <li><img src="https://images.fandango.com/r1.0.23/ImageRenderer/131/200/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/161866/poc5_teaser2_online_1-sheet.jpg"/>
                 <p>Pirates of the Caribbean</p></li>
                 <li><img src="https://images.fandango.com/r1.0.23/ImageRenderer/131/200/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/191725/wonderwoman-posterart.jpg"/>
                 <p>Wonder Woman</p></li>
                 <li><img src="https://images.fandango.com/r1.0.23/ImageRenderer/131/200/redesign/static/img/default_poster.png/0/images/masterrepository/fandango/197714/mmy_adv1sht_rgb_0328_2.jpg"/>
                 <p>The Mummy (2017)</p></li>
                
            </ul>
             <div>
    </div>
</div>


<button class="btn btn-primary" [routerLink] = "['/showTimings',1030 ,'Mymovie']">Show Timings</button>

<a [routerLink] = "['/showTimings',1030 ,'Mymovie']">MyMovie</a>